

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255, 92, 0, 1), rgba(255, 134, 0, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 92, 0, 1), rgba(255, 134, 0, 1))
    }
.transparent-opacity{
    opacity: .9;
}
.total-opacity{
    opacity: 1;
}
.text-indigo{
    color:#6610f2;
}